body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}


h1,
h2 {
  text-align: center;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"],
.signout-btn,
.book-now {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover,
.signout-btn:hover,
.book-now:hover {
  background-color: #45a049;
}

.signin-box,
.form-box,
.container,
.card {
  background-color: white;
  padding: 20px;
  margin: auto;
  margin-top: 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

.header {
  background-color: #333;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appointments {
  border-top: 1px solid #ccc;
  padding-top: 15px;
}

.appointment-item {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.slot {
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  width: fit-content;
}

.slot:hover {
  background-color: #e0ffe0;
}
